.custom-col {
  border: 1px solid black;
  background-color: #3498db;
  padding: 10px;
  text-align: center;
  color: white;
}

@media screen and (max-width: 767px) {
  ion-row {
    display: block;
  }
  ion-col {
    width: 100%;
  }
}